*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

/* header */
header{
    background-color: #2A5EE8;
    height: 50px;
}

.container{
    max-width: 1180px;
    margin: 0% auto;
    padding: 10px;
    display: flex;
    justify-content: center;
}

.square{
    height: 30px;
    width: 180px;
    padding: 3px;
    background-color: #2A5EE8;
}

.text-align-right{
    text-align: right;
}

.squarebig{
    height: 30px;
    width: 690px;
    padding: 3px;
    text-align: center;
    background-color: #2A5EE8;
    display: flex;
    justify-content: space-around;
}

.listaheader > li{
    display: inline-block;
    padding-left: 25px;
    color: white;
    padding-top: 3px;
    font-size: medium;
}

/* Prima sezione-main: Jumbotron*/
.container-Jumbotron{
    height: 430px;
    background-image: url(../img/jumbo.png);
    background-size: cover;
    display: flex;
    justify-content: center;
}

.square-darkmagenta{
    height: 350px;
    width: 700px;
    margin: 40px;
    text-align: center;    
}

h1{
    padding-top: 100px;
    font-weight: bold;
}

p.text-white{
    padding-top: 30px;
    padding-bottom: 10px;
    font-size: large;    
}

.button-jumbotron{
    padding: 10px;
    margin: 5px;
    font-size: 13px;
}

.button-jumbotron.black{
    background-color: rgb(37, 37, 37);
    color: white;
}

/*seconda sezione-main*/
.blu1-sezione{
    background-image: url(../img/item1.svg);
    background-size: 660px;   
}

/*terza sezione-main*/
.blu2-sezione{
    background-image: url(../img/item2.svg);
    background-size: 650px;
}

/*quarta sezione-main*/
.blu3-sezione{
    background-image: url(../img/item3.svg);
    background-size: 670px;
}

/*quinta sezione-main*/
.bigcontainer-grey{
    height: 980px;
    display: flex;
    justify-content: center;
    background-color: lightgray
}

.background-violet{
    background-color: rgb(206, 154, 255);
    color: white;
    padding: 10px;
    margin: 10px;
    font-size: 15px;
}

.question{
    background-image: url(../img/stars.svg);
    background-size: cover;
    text-align: center;
    margin-top: 600px;
    padding: 40px
}

.titolo-question{
    padding-bottom: 20px;
}

.square-green{
    height: 900px;
    width: 1050px;
    background-image: url(../img/item4-big.svg);
    background-size: 1030px;
    background-repeat: no-repeat;
    background-position: center;
    margin: 40px;
}

.titolo-centrato{
    text-align: center;
    padding-top: 50px;
}

.paragrafo-centrato{
    text-align: center;
}

/*sesta sezione-main*/
.container-black{
    height: 530px;
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.888);
}

.square-salmon{
    height: 490px;
    width: 350px;
    margin-top: 15px;
}

h3.violet{
    color: rgb(94, 9, 174);
    font-size: x-large;
    padding-top: 40px;
}

.bandieraitalia{
    height: 12px;
    width: 20px;
}

.italiano{
    margin: 10px 0px;
    color: white;
}

.icon{
    padding-right: 10px;
    color: white;
}

#Prodotto{
    color: rgb(94, 9, 174);
}

#Compagnia{
    color: rgb(94, 9, 174);
}

#Risorse{
    color: rgb(94, 9, 174);
}

#Norme{
    color: rgb(94, 9, 174);
}

.square-acquamarine{
    height: 490px;
    width: 175px;
    margin-top: 15px;
}

ul.text-white{
    margin: 30px;
}

li{
    padding-bottom: 20px;
    list-style-type: none;
}
/*fine main*/

hr{
    color: rgb(94, 9, 174);
}

/*footer*/
footer{
    background-color: rgba(0, 0, 0, 0.888);
    height: 60px;
    display: flex;
    justify-content: center;
}

.container-footer{
    height: 50px;
    width: 1050px;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-pink{
    height: 40px;
    width: 200px;
    padding: 5px;
    margin-top: 15px;
    background-image: url(../img/logo.svg);
    background-repeat: no-repeat;
}

.button-violet{
    height: auto;
    width: auto;
    padding: 5px;
    font-size: 13px;
    background-color: rgb(206, 154, 255);
    color: white;
}

/* Utility */
.text-white{
    color: white;
}

button{
    padding: 8px;
    background-color: white;
    border: 0cap;
    border-radius: 20px;
    font-size: x-small;
    font-weight: 600;
}

.container-white{
    height: 530px;
    display: flex;
    justify-content: center;
}

.container-grey{
    height: 530px;
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    background-color: lightgray;
}

.square-lightblue{
    height: 450px;
    width: 600px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.square-pink{
    height: 450px;
    width: 450px;
    margin-top: 40px;
    margin-bottom: 40px;
    text-align: left;
   padding: 40px; 
}

.titolo-paragrafo{
    font-size: 40px;
}

.paragrafo{
    padding-top: 20px;
}


