*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

/* header */
header{
    background-color: #2A5EE8;
    height: 50px;
}

.container{
    max-width: 1180px;
    margin: 0% auto;
    padding: 10px;
    display: flex;
    justify-content: center;
}

.square{
    height: 30px;
    width: 180px;
    padding: 3px;
    background-color: #2A5EE8;
}

.text-align-right{
    text-align: right;
}

.squarebig{
    height: 30px;
    width: 690px;
    padding: 3px;
    text-align: center;
    background-color: #2A5EE8;
    display: flex;
    justify-content: space-around;
}

.listaheader > li{
    display: inline-block;
    padding-left: 25px;
    color: white;
    padding-top: 3px;
    font-size: medium;
}

/* Prima sezione-main: Jumbotron*/
.container-Jumbotron{
    height: 430px;
    background-image: url(../img/jumbo.png);
    background-size: cover;
    display: flex;
    justify-content: center;
}

.square-darkmagenta{
    height: 350px;
    width: 700px;
    margin: 40px;
    text-align: center;    
}

h1{
    padding-top: 100px;
    font-weight: bold;
}

p.text-white{
    padding-top: 30px;
    padding-bottom: 10px;
    font-size: large;    
}

.button-jumbotron{
    padding: 10px;
    margin: 5px;
    font-size: 13px;
}

.button-jumbotron.black{
    background-color: rgb(37, 37, 37);
    color: white;
}

/*seconda sezione-main*/
.blu1-sezione{
    background-image: url(../img/item1.svg);
    background-size: 660px;   
}

/*terza sezione-main*/
.container-grey{
    height: 530px;
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    background-color: lightgray;
}

/*quarta sezione-main*/

/*quinta sezione-main*/
.bigcontainer-grey{
    height: 980px;
    display: flex;
    justify-content: center;
    background-color: lightgray
}

.square-green{
    height: 900px;
    width: 1050px;
    border: dashed black;
    background-color: green;
    margin: 40px;
}

/*sesta sezione-main*/
.container-black{
    height: 530px;
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.888);
}

.square-salmon{
    height: 490px;
    width: 350px;
    border: dashed black;
    background-color: salmon;
    margin-top: 15px;
}

.square-acquamarine{
    height: 490px;
    width: 175px;
    border: dashed white;
    background-color: rgba(107, 252, 252, 0.817);
    margin-top: 15px;
}
/*fine main*/

hr{
    color: white;
}

/*footer*/
footer{
    background-color: rgba(0, 0, 0, 0.888);
    height: 60px;
    display: flex;
    justify-content: center;
}

.container-footer{
    height: 50px;
    width: 1050px;
    background-color: aquamarine;
    margin-top: 10px;
    border: solid rgba(0, 0, 0, 0.888);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-pink{
    height: auto;
    width: auto;
    border: dashed black;
    padding: 2px;
    background-color: lightpink;
}

.bottone{
    height: auto;
    width: auto;
    border: dashed black;
    padding: 2px;
    background-color: lightpink;
}

/* Utility */
.text-white{
    color: white;
}

button{
    padding: 8px;
    background-color: white;
    border: 0cap;
    border-radius: 20px;
    font-size: x-small;
    font-weight: 600;
}

.container-white{
    height: 530px;
    display: flex;
    justify-content: center;
}

.square-lightblue{
    height: 450px;
    width: 600px;
    border: dashed black;
    background-color: lightblue;
    margin-top: 40px;
    margin-bottom: 40px;
}

.square-pink{
    height: 450px;
    width: 450px;
    border: dashed black;
    background-color: pink;
    margin-top: 40px;
    margin-bottom: 40px;
    text-align: left;
   padding: 40px; 
}

.titolo-paragrafo{
    font-size: 40px;
}

.paragrafo{
    padding-top: 20px;
}